.container-landing {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
}

.logo-home {
    width: 500px;
}

.left-side-landing {
    justify-self: center;
}

.right-side-landing {
    justify-self: center !important;
    align-self: center;
    padding-right: 50px;
}

.nike-logo {
    color: #FA804C;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    margin-bottom: -20px !important;
}

.run-logo {
    margin-top: 0;
    color: #363958;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
}

.lorem-home {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -1px;
}

.lorem-br {
    display: block;
}

.buy-now-text {
    margin-top: 3px;
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    background-color: #3543BC;
    width: 130px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 8px;
}

.inner-child-showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}